/*--
/*  07. Footer CSS
/*----------------------------------------*/

// Footer Section
.footer-section {
    background-color: $secondary;
}

// Footer Copyright
.footer-copyright {
    padding-bottom: 25px;
    background-color: #094435;
}

// Copyright Content
.copyright-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$tablet-device, $large-mobile}{
        display: block;
        text-align: center;
    }
}

// Copyright Content
.copyright-text {
    padding-top: 25px;

    & p{
        color: $white;
        font-size: 15px;

        & span,
        & i{
            color: $primary;
        }
        & a {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Copyright Link 
.copyright-link{
    padding-top: 15px;

    & a{
        color: $white;
        position: relative;
        font-size: 15px;
        margin-top: 10px;

        & + a{
            margin-left: 30px;

            &::before{
                position: absolute;
                content: '*';
                font-size: 15px;
                left: -20px;
            }
        }

        &:hover{
            color: $primary;
        }
    }
}

// Back to Top
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    display: none;
    box-shadow: 2px 4px 8px rgba($dark, 0.15);  
    transition: all 0.3s linear;
    color: $white;
    background-color: $primary;

    &:hover{
        color: $white;
        background-color: $dark;    
    }
}